<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OAS Admin CDN · MPA</title>
    <script src="./js/fouc.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@oas-ui/theme@2/index.css" />
    <script src="https://unpkg.com/@oas-ui/ui@2/dist/cdn.js"></script>
    <link rel="stylesheet" href="./css/app.css" />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="./js/users.js"></script>
  </body>
</html>
